
        .button {
            display: block;
            margin: 10px 0;
            padding: 11px;
            background-color: #4c59af;
            color: grey;
            border: none;
            cursor: pointer;
        }
        .button:hover {
            background-color: #4548a0;
        }
        .list-item {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
        }
    

